body {
    background-color: rgb(234, 229, 223);
}

nav li ol {
    background-image: linear-gradient(rgb(15, 15, 231),rgb(18, 18, 37));
    color:white;
    font-size: 80px;
    text-align: center;
}

nav li {
    list-style-type: none;
}

.column {
    float: left;
    width: 25%;
}

hr { 
    width:25%; height:1px; background: black 
}
