body {
    margin:0;
    padding: 0;
    border: 0;
    background-color: rgb(65, 99, 128) !important;
}

nav li ol {
    background-image: linear-gradient(rgb(15, 15, 231),rgb(18, 18, 37));
    color:white;
    font-size: 80px;
    text-align: center;
}

nav li {
    list-style-type: none;
}

.column {
    float: left;
    width: 25%;
}

hr { 
    width:25%; height:1px; background: black 
}

#search{
    font-size: 20px;
}

.days{
    font-size: 30px;
    color: white;
    background-image: linear-gradient(rgb(15, 15, 231),rgb(18, 18, 37));;
    margin: 10px;
    border-radius: 20px;
    padding:10px;
}
